<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/styles/adminPage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>  
        <!-- Topbar -->
        <div class="top-bar">
            <!-- Left elements -->
            <div class="left-section">
                <img src="/images/shooping_cart.svg" alt="Icon 1" class="icon">
                <img src="/images/logout.svg" alt="Icon 1" class="icon">
            </div>
            <!-- Logo -->
            <div class="center-section">
                <img src="/images/logo.svg" class="logo"> 
            </div>
            <!-- Right elements -->
            <div class="right-section">
                <img src="/images/home_icon.svg" alt="Icon 1" class="icon" onclick="window.location.href='/home'">
            </div>
        </div>
        <!-- Account Section -->
        <div class="account-section">
            <div class="account-header">
                <h2>Hello <%= customer.name %></h2>
            </div>
            <div class="account-content">
                <div class="account-menu">
                    <button class="menu-option active" onclick="window.location.href='/admin/customers'">All Users</button>
                    <button class="menu-option" onclick="window.location.href='/admin/orders'">All Orders</button>
                    <button class="menu-option" onclick="window.location.href='/admin/products'">All Products</button>
                    <button class="menu-option" onclick="window.location.href='/admin/addProducts'">Add Products</button>
                </div>
                <!-- Account Details -->
                <div class="content">
                    <div id="customers" class="content-item active">
                        <div class="container">
                            <!-- <div class="customer-details" data-id="<%= customer._id %>"> -->
                                <form action="/admin/customers" method="POST" id="updateForm"></form>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Birthday</th>
                                                <th>Phone</th>
                                                <th>Address</th>
                                                <th>Role</th>
                                                <th class="actions-th">Actions</th>
                                            </tr>
                                        </thead>
                                        <!-- Readonly inputs for customer details initially -->
                                        <tbody>
                                            <% customers.forEach(customer => { %>
                                            <tr data-id="<%= customer.customerId %>">
                                                <td><input name="name" class="customer-name-input customer-input" type="text" value="<%= customer.name %>" readonly></td>
                                                <td><input name="email" class="customer-email-input customer-input" type="email" value="<%= customer.email %>" readonly></td>
                                                <td>
                                                     <!-- Select field for customer role -->
                                                    <select id="day" class="birth-select customer-input small-input" name="birth_day" required disabled>
                                                        <% for (let i = 1; i <= 30; i++) { %>
                                                            <option value="<%= i %>" <%= customer.birthdate && new Date(customer.birthdate).getDate() === i ? 'selected' : '' %>><%= i %></option>
                                                        <% } %>
                                                    </select>
                                                    <select  id="month" class="birth-select customer-input small-input" id="month" name="birth_month" required disabled>
                                                        <% for (let i = 1; i <= 12; i++) { %>
                                                            <option value="<%= i %>" <%= customer.birthdate && (new Date(customer.birthdate).getMonth() + 1) === i ? 'selected' : '' %>><%= i %></option>
                                                        <% } %>
                                                    </select>
                                                    <select id="year" class="birth-select customer-input small-input" name="birth_year" required disabled>
                                                        <% for (let i = 1990; i <= 2024; i++) { %>
                                                            <option value="<%= i %>" <%= customer.birthdate && new Date(customer.birthdate).getFullYear() === i ? 'selected' : '' %>><%= i %></option>
                                                        <% } %>
                                                    </select>
                                                </td>
                                                <td><input name="phone" class="customer-phone-input customer-input" type="tel" value="<%= customer.phone %>" readonly></td>
                                                <td>
                                                    <input name="city" class="customer-address-input customer-input" type="text" value="<%= customer.address.street %>" readonly>
                                                    <input name="street" class="customer-address-input customer-input" type="text" value="<%= customer.address.city %>" readonly>
                                                    <input name="number" class="customer-address-input customer-input" type="number" value="<%= customer.address.number %>" readonly>
                                                </td>
                                                <td>
                                                    <select id="role" name="role" class="customer-role-select customer-input" disabled>
                                                        <option value="user" <%= customer.role === 'user' ? 'selected' : '' %>>User</option>
                                                        <option value="admin" <%= customer.role === 'admin' ? 'selected' : '' %>>Admin</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="customer-actions">
                                                        <img class="edit-btn-cust" src="/images/edit.svg" onClick="toggleEditMode('<%= customer.customerId %>')" style="display:inline-block;">
                                                        <img class="save-btn-cust" src="/images/save.svg" onClick="saveCustomer('<%= customer.customerId %>')" style="display:none;">
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </form>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div id="orders" class="content-item" style="display:none;">This is the content for Option 2.</div>
                    <div id="products" class="content-item" style="display:none;">This is the content for Option 3.</div>
                </div>
            </div>
        </div>
        <script src="/js/adminPage.js"></script>
    </body>
</html>