<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/public/styles/adminPage.css">
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/peronsal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body> 
        <!-- Topbar -->
        <header>
            <nav class="navbar">
                <!-- Left elements -->
                <div class="left-section">
                    <img src="/public/images/shooping_cart.svg" alt="Icon 1" class="icon-nav">
                    <img src="/public/images/logout.svg" alt="Icon 1" class="icon-nav" onclick="window.location.href='/logout'">
                </div>
        
                <!-- Logo -->
                <div class="center-section">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'"> 
                </div>
        
                <!-- Right elements (Hamburger menu and dropdown) -->
                <div class="right-section">
                    <img src="/public/images/nearMe.svg" class="icon nearMe" onclick="window.location.href='/nearMe'">
                    <div class="menu-container">
                        <!-- Hamburger menu icon -->
                        <div class="hamburger-menu" id="hamburger-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
        
                        <!-- Dropdown content -->
                        <div class="dropdown-content" id="dropdown-content">
                            <!-- Search bar -->
                            <div class="search-bar">
                                <input type="text" placeholder="Search for candies...">
                            </div>
        
                            <!-- Categories list -->
                            <ul class="categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
        
                            <!-- Personal area and admin area icons -->
                            <div class="menu-icons">
                                <div class="icon-container">
                                    <a href="/personal/myAccount">
                                        <img src="/public/images/user.svg" alt="Personal Area" class="icon">
                                        <div class="icon-label"><%= user.name %></div>
                                    </a>
                                </div>
                                <% if (user.role === 'admin') { %> 
                                <div class="icon-container">
                                    <a href="/personal/admin">
                                        <img src="/public/images/adminIcon.svg" alt="Admin Area" class="icon">
                                        <div class="icon-label">Manage Shop</div>
                                    </a>
                                </div>
                                <% } %> 
                            </div>                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Account Section -->
        <section class="account-section">
            <header class="account-header">
                <h2>Hello <%= user.name %></h2>
            </header>
            <div class="account-content">
                <div class="account-menu">
                    <button class="menu-option" onclick="window.location.href='/personal/admin/customers'">All Users</button>
                    <button class="menu-option active" onclick="window.location.href='/personal/admin/orders'">All Orders</button>
                    <button class="menu-option" onclick="window.location.href='/personal/admin/products'">All Products</button>
                    <button class="menu-option" onclick="window.location.href='/personal/admin/addProducts'">Add Product</button>
                </div>
                <!-- Account Details -->
                <div class="content">
                    <div id="customers" class="content-item active">
                        <div class="container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Total Cost</th>
                                        <th>Status</th>
                                        <th>Actions</th> <!-- New Actions column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(order => { %>
                                        <tr data-order-id="<%= order.orderId %>">
                                            <td><%= order.orderId %></td>
                                            <td><%= new Date(order.createdAt)%></td>
                                            <td>$<%= order.totalPrice %></td>
                                            <td>
                                                <select id="orderStatus-<%= order.orderId %>" disabled>
                                                    <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                                    <option value="Processing" <%= order.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                                                    <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                    <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                    <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                                </select>
                                            </td>
                                            <td class="action-buttons">
                                                <img class="order-actions see-order-btn" src="/public/images/seeOrder.svg" data-order-id="<%= order.orderId %>">
                                                <img id="editStatusButton-<%= order.orderId %>" class="order-actions edit-btn-cust" src="/public/images/editOrder.svg" data-order-id="<%= order.orderId %>" onclick="enableStatusEdit('<%= order.orderId %>')">
                                                <img id="saveStatusButton-<%= order.orderId %>" class="order-actions save-btn-cust" src="/public/images/save.svg" data-order-id="<%= order.orderId %>" onclick="updateOrderStatus('<%= order.orderId %>')" style="display:none;">
                                                <img class="order-actions remove" src="/public/images/cancelOrder.svg" data-order-id="<%= order.orderId %>" >
                                            </td>
                                        </tr>
                                    <% }) %>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="orders" class="content-item" style="display:none;">This is the content for Option 2.</div>
                    <div id="products" class="content-item" style="display:none;">This is the content for Option 3.</div>
                </div>
            </div>
        </section>
        <script src="/public/js/adminPage.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>