<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/styles/adminPage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>  
        <!-- Topbar -->
        <div class="top-bar">
            <!-- Left elements -->
            <div class="left-section">
                <img src="/images/shooping_cart.svg" alt="Icon 1" class="icon">
                <img src="/images/logout.svg" alt="Icon 1" class="icon">
            </div>
            <!-- Logo -->
            <div class="center-section">
                <img src="/images/logo.svg" class="logo"> 
            </div>
            <!-- Right elements -->
            <div class="right-section">
                <img src="/images/home_icon.svg" alt="Icon 1" class="icon" onclick="window.location.href='/home'">
            </div>
        </div>
        <!-- Account Section -->
        <div class="account-section">
            <div class="account-header">
                <h2>Hello <%= customer.name %></h2>
            </div>
            <div class="account-content">
                <div class="account-menu">
                    <button class="menu-option" onclick="window.location.href='/admin/customers'">All Users</button>
                    <button class="menu-option" onclick="window.location.href='/admin/orders'">All Orders</button>
                    <button class="menu-option active" onclick="window.location.href='/admin/products'">All Products</button>
                    <button class="menu-option" onclick="window.location.href='/admin/addProducts'">Add Product</button>
                </div>
                <!-- Account Details -->
                <div class="content">
                    <div id="customers" class="content-item active">
                        <div class="container">
                            <div class="product-grid">
                                <% products.forEach(product => { %>
                                  <div class="product-card">
                                    <img class="product-img" src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                                    <div class="product-details">
                                        <div class="detail-item">
                                            <label class="product-details-label" for="name">Product Name</label>
                                            <input class="product-input-name" type="text" value="<%= product.product_name %>" readonly>
                                        </div>
                                        <div class="detail-item">
                                            <label class="product-details-label" for="price">Product Price</label>
                                            <input class="product-input" type="text" value="<%= product.price %>" readonly>
                                        </div>
                                        <div class="detail-item">
                                            <label class="product-details-label" for="category">Product Category</label>
                                            <input class="product-input" type="text" value="<%= product.category %>" readonly>
                                        </div>
                                        <div class="detail-item">
                                            <label class="product-details-label" for="weight">Product Weight</label>
                                            <input class="product-input" type="text" value="<%= product.weight %>" readonly>
                                        </div>
                                        <div class="detail-item">
                                            <label class="product-details-label" for="inventory">Quantity in stock</label>
                                            <input class="product-input" type="number" value="<%= product.inventory %>" readonly>
                                        </div>
                                      <div class="product-actions">
                                      <img class="edit-btn  " src="/images/edit.svg" onClick="editProduct('<%= product.id %>')">
                                      <img class="delete-btn  " src="/images/trash.svg" onClick="deleteProcudt('<%= product.id %>')">
                                      </div>
                                    </div>
                                  </div>
                                <% }) %>
                            </div>                              
                        </div>
                    </div>
                    <div id="orders" class="content-item" style="display:none;">This is the content for Option 2.</div>
                    <div id="products" class="content-item" style="display:none;">This is the content for Option 3.</div>
                </div>
            </div>
        </div>
        <script src="/js/adminPage.js"></script>
    </body>
</html>