<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Cart</title>
        <link rel="stylesheet" type="text/css" href="/public/styles/cart.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <header>
            <nav class="main-navbar">
                <section class="navbar-left">
                    <img src="/public/images/shooping_cart.svg" class="navbar-icon">
                    <img src="/public/images/logout.svg" class="navbar-icon" onclick="window.location.href='/logout'">
                </section>
                <section class="navbar-center">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'">
                </section>
                <section class="navbar-right">
                    <img src="/public/images/nearMe.svg" class="navbar-icon" onclick="window.location.href='/nearMe'">
                    <div class="side-menu">
                        <div class="sideMenu-sign" id="sideMenu-sign">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="sideMenu-content" id="sideMenu-content">
                            <div class="sideMenu-search">
                                <input type="text" placeholder="Search for candies...">
                            </div>
                            <ul class="sideMenu-categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
                            <div class="sideMenu-personal">
                                <% if (user.name) { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/myAccount">
                                            <img src="/public/images/user.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel"><%= user.name %></div>
                                        </a>
                                    </div>
                                <% } %> 
                                <% if (user.role === 'admin') { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/admin">
                                            <img src="/public/images/adminIcon.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel">Manage Shop</div>
                                        </a>
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
        </header>
        <section class="page-content" style="display: flex; padding: 20px; box-sizing: border-box;">
            <!-- Cart Items -->
            <div class="cart-container" style="flex: 2; padding: 20px; background-color: white;">
                <!-- List of cart items -->
                <% cart.forEach(function(item) { %>
                <div class="cart-item <%= item.inventory === 0 ? 'sold-out' : '' %>" data-inventory="<%= item.inventory %>" id="cart-item-<%= item.productId %>"  data-product-id="<%= item.productId %>">
                    <!-- Product Image -->
                    <div class="product-image-container">
                        <% if (item.inventory === 0) { %>
                            <span class="stock-banner out-of-stock">Sold Out</span>
                        <% } else if (item.inventory <= 5) { %>
                            <span class="stock-banner"><%= item.inventory %> left</span>
                        <% } %>
                        <a href="/products/<%= item.productId %>" class="product-link">
                            <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                        </a>
                    </div>
        
                    <!-- Product Details -->
                    <div class="product-details" style="flex-grow: 2; margin-right: 20px;">
                        <div class="product-name" style="font-weight: bold; margin-bottom: 5px;">
                            <%= item.name %> | <%= item.description || 'No description available.' %>
                        </div>
                        <div class="product-price"><%= item.price %>₪</div><br>
                        
                        <!-- Quantity Selector and Update -->
                        <form action="/cart/update" method="POST">
                            <input type="hidden" name="productId" value="<%= item.productId %>">
                            <input type="number" name="quantity" min="1" max="<%= item.inventory %>" value="<%= item.quantity %>" <%= item.inventory === 0 ? 'disabled' : '' %>>
                            <button class="update-button" type="submit" <%= item.inventory === 0 ? 'disabled' : '' %>>Update</button>
                        </form>
                    </div>
        
                    <!-- Price -->
                    <div class="price" style="font-size: 18px; text-align: right;">
                        <span>₪<%= (item.price * item.quantity).toFixed(2) %></span>
                    </div>
        
                    <!-- Remove Product Button -->
                    <form action="/cart/remove" method="POST" style="align-self: center;">
                        <input type="hidden" name="productId" value="<%= item.productId %>">
                        <button class="remove-button" style="background: none; border: none; cursor: pointer;">
                            <i class="fas fa-times" style="color: red; font-size: 24px;"></i>
                        </button>
                    </form>
                </div>
                <% }); %>
            </div>
        
            <!-- Order Summary Section -->
            <div class="order-summary" style="flex: 1; background-color: white; padding: 20px; display: flex; flex-direction: column;">
                <h2 style="margin-top: 0;">Summary</h2>
        
                <!-- Shipping Information -->
                <div class="shipping-info" style="margin-bottom: 20px;">
                    <input type="text" id="shipping-city" name="city" placeholder="city" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc;">
                    <input type="text" id="shipping-address" name="address" placeholder="address" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc;">
                    <input type="text" id="shipping-number" name="number" placeholder="number" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc;">
                </div>
        
                <!-- Total Price -->
                <div class="summary-total" style="font-size: 18px; margin-bottom: 20px;">
                    <span>Total Price:</span>
                    <span id="total-price" style="font-weight: bold;">₪<%= cart.reduce((total, item) => total + (item.price * item.quantity), 0).toFixed(2) %></span>
                </div>
        
                <!-- Place Order Button -->
                <% if (cart && cart.length > 0) { %> 
                        <button class="checkout-button" type="submit" onclick="checkoutCart()">Place Order</button>
                <% } %>
            </div>
            <div id="order-alert" class="custom-alert hidden">Order Placed</div>
        </section>
        
        <footer class="footer">
            <div class="footer-left">
                <p>© Sweetly | Adi Brodesky | Gal Ternovsky | Shahar Shabtay | Ziv Klein </p>
            </div>
            <div class="footer-right">
                <div class="hover-container">
                    <a href="#" class="about-us" id="openAboutModal">About Us</a>
                    |
                    <a href="#" class="talk-to-us" id="openTalkModal">Talk To Us</a>
                    |
                    <a href="https://tinyurl.com/sweetly-facebook" class="facebook">Facebook</a>
                </div>
                
                <!-- Modal for About Us -->
                <div id="aboutModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>About Us</h2>
                        <p>At Sweetly, we make finding your favorite sweets easy and enjoyable. We have the most special candies and a lot of stores waiting for you!</p>
                    </div>
                </div>
                
                <!-- Modal for Talk To Us -->
                <div id="talkModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>Talk To Us</h2>
                        <p>You can reach us at support@candyshop.com or follow us on social media for the latest updates and tips!</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/public/js/products.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/cart.js"></script>
</html>

