<!DOCTYPE html>
<html>
    <head>
        <title>Candy Shop - Cart</title>
        <link rel="stylesheet" type="text/css" href="/public/styles/cart.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <h1>Your Cart</h1>
        <div class="products">
        <!-- List all products in cart -->
        <% if (cart && cart.length > 0) { %> 
            <% cart.forEach((product) => { %>
                <div class="product">
                    <img class="img-class" src="<%= product.imageUrl %>" alt="<%= product.name %>" onerror="this.onerror=null; this.src='/public/images/logo.svg';">
                    <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
                    <p>Price: <%= product.price %></p>
                    <form action="/cart/remove" method="POST">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <button type="submit">Remove from Cart</button>
                    </form>
                </div>
            <% }); %>
        <% } else { %>
            <p>Your cart is empty!</p>
        <% } %>
        </div>
        <% if (cart && cart.length > 0) { %> 
            <form action="/cart/checkout" method="POST">
                <button class="checkout-button" type="submit">Proceed to Checkout</button>
            </form>    
        <% } %>
    </body>
</html>