<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/personal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>
        <!-- Topbar -->
        <header>
            <nav class="main-navbar">
                <section class="navbar-left">
                    <img src="/public/images/shooping_cart.svg" class="navbar-icon" onclick="window.location.href='/cart'">
                    <img src="/public/images/logout.svg" class="navbar-icon" onclick="window.location.href='/logout'">
                </section>
                <section class="navbar-center">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'">
                </section>
                <section class="navbar-right">
                    <img src="/public/images/nearMe.svg" class="navbar-icon" onclick="window.location.href='/nearMe'">
                    <div class="side-menu">
                        <div class="sideMenu-sign" id="sideMenu-sign">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="sideMenu-content" id="sideMenu-content">
                            <div class="sideMenu-search">
                                <input type="text" placeholder="Search for candies...">
                            </div>
                            <ul class="sideMenu-categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
                            <div class="sideMenu-personal">
                                <% if (user.name) { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/myAccount">
                                            <img src="/public/images/user.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel"><%= user.name %></div>
                                        </a>
                                    </div>
                                <% } %> 
                                <% if (user.role === 'admin') { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/admin">
                                            <img src="/public/images/adminIcon.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel">Manage Shop</div>
                                        </a>
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
        </header>
        <section class="page-content">
            <header class="personal-header">
                <h2>Hello <%= user.name %></h2>
            </header>
            <div class="personal-content">
                <!-- Sub Menu -->
                <div class="sub-menu">
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/details'">My Details</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/favorite'">My Favorites</button>
                    <button class="menu-option active" onclick="window.location.href='/personal/myAccount/orders'">My Orders</button>                    
                </div>
                <!-- All Products -->
                <div class="main-content">
                    <div id="products" class="content-item active">
                        <div class="container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Order Date</th>
                                        <th>Total Amount</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(order => { %>
                                        <tr>
                                            <td><%= order.orderId %></td>
                                            <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                            <td>$<%= order.totalPrice.toFixed(2) %></td>
                                            <td><%= order.status %></td>
                                            <td class="action-buttons">
                                                <img class="order-actions see-order-btn see-order2-btn" src="/public/images/seeOrder.svg" data-order-id="<%= order.orderId %>">
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/public/js/personal.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>