<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/public/styles/myAccount.css ">
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/peronsal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <!-- Topbar -->
        <header>
            <nav class="navbar">
                <!-- Left elements -->
                <div class="left-section">
                    <img src="/public/images/shooping_cart.svg" alt="Icon 1" class="icon-nav">
                    <img src="/public/images/logout.svg" alt="Icon 1" class="icon-nav" onclick="window.location.href='/logout'">
                </div>
        
                <!-- Logo -->
                <div class="center-section">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'"> 
                </div>
        
                <!-- Right elements (Hamburger menu and dropdown) -->
                <div class="right-section">
                    <div class="menu-container">
                        <!-- Hamburger menu icon -->
                        <div class="hamburger-menu" id="hamburger-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
        
                        <!-- Dropdown content -->
                        <div class="dropdown-content" id="dropdown-content">
                            <!-- Search bar -->
                            <div class="search-bar">
                                <input type="text" placeholder="Search for candies...">
                            </div>
        
                            <!-- Categories list -->
                            <ul class="categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
        
                            <!-- Personal area and admin area icons -->
                            <div class="menu-icons">
                                <div class="icon-container">
                                    <a href="/personal/myAccount">
                                        <img src="/public/images/user.svg" alt="Personal Area" class="icon">
                                        <div class="icon-label"><%= user.name %></div>
                                    </a>
                                </div>
                                <% if (user.role === 'admin') { %> 
                                <div class="icon-container">
                                    <a href="/personal/admin">
                                        <img src="/public/images/adminIcon.svg" alt="Admin Area" class="icon">
                                        <div class="icon-label">Manage Shop</div>
                                    </a>
                                </div>
                                <% } %> 
                            </div>                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Account Section -->
        <section class="account-section">
            <header class="account-header">
                <h2>Hello <%= user.name %><s/h2>
            </header>
            <div class="account-content">
                <nav class="account-menu">
                    <button class="menu-option active" onclick="window.location.href='/personal/myAccount/details'">Personal Details</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/favorite'">Favorits</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/orders'">My Orders</button>
                </nav>
                <!-- Account Details -->
                <div class="content">
                    <section id="details" class="content-item active">
                        <div class="container">
                            <!-- Form with Details -->
                            <form action="/personal/myAccount/update" method="POST" id="updateForm">
                                <div class="form-row">
                                    <div class="form-column">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" name="name" value="<%= user.name %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" name="email" value="<%= user.email %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="birthdate">Birthday</label>
                                            <div class="birthday-container">
                                                <select id="day" name="birth_day" required class="small-input">
                                                    <% for (let i = 1; i <= 30; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && new Date(user.birthdate).getDate() === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                                <select id="month" name="birth_month" required class="small-input">
                                                    <% for (let i = 1; i <= 12; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && (new Date(user.birthdate).getMonth() + 1) === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                                <select id="year" name="birth_year" required>
                                                    <% for (let i = 1990; i <= 2024; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && new Date(user.birthdate).getFullYear() === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-column">
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="tel" id="phone" name="phone" value="<%= user.phone %>" pattern="[0-9]{3}-[0-9]{7}" maxlength="10" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address:</label>
                                            <div class="address-container">
                                                <input type="text" id="street" name="street" value="<%= user.address ? user.address.street : '' %>" required placeholder="Street">
                                                <input type="text" id="number" name="number" value="<%= user.address ? user.address.number : '' %>" required placeholder="Number" class="small-input">
                                                <input type="text" id="city" name="city" value="<%= user.address ? user.address.city : '' %>" required placeholder="City">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <div class="password-container">
                                                <input type="password" id="password" name="password" value="<%= user.password %>" required>
                                                <i class="fas fa-eye" id="togglePassword"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group full-width">
                                    <button id="submitButton" type="submit" class="btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section id="favorit" class="content-item" style="display:none;">This is the content for Option 2.</section>
                    <section id="orders" class="content-item"></section>
                </div>
            </div>
        </section>
        <script src="/public/js/myAccount.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>