<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/styles/adminPage.css ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>  
        <!-- Topbar -->
        <div class="top-bar">
            <!-- Left elements -->
            <div class="left-section">
                <img src="/images/shooping_cart.svg" alt="Icon 1" class="icon">
                <img src="/images/logout.svg" alt="Icon 1" class="icon">
            </div>
            <!-- Logo -->
            <div class="center-section">
                <img src="/images/logo.svg" class="logo"> 
            </div>
            <!-- Right elements -->
            <div class="right-section">
                <img src="/images/home_icon.svg" alt="Icon 1" class="icon" onclick="window.location.href='/home'">
            </div>
        </div>
        <!-- Account Section -->
        <div class="account-section">
            <div class="account-header">
                <h2>Hello <%= customer.name %><s/h2>
            </div>
            <div class="account-content">
                <div class="account-menu">
                    <button class="menu-option" onclick="window.location.href='/myAccount/details'">Personal Details</button>
                    <button class="menu-option" onclick="window.location.href='/myAccount/favorite'">Favorits</button>
                    <button class="menu-option active" onclick="window.location.href='/myAccount/orders'">My Orders</button>
                </div>
                <!-- Account Details -->
                <div class="content">
                    <div id="details" class="content-item"></div>
                    <div id="favorit" class="content-item" style="display:none;">This is the content for Option 2.</div>
                    <div id="orders" class="content-item active">
                        <div class="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Total Cost</th>
                                        <th>Status</th>
                                        <th>Actions</th> <!-- New Actions column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(order => { %>
                                        <tr>
                                            <td><%= order.orderNumber %></td>
                                            <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                            <td>$<%= order.totalCost.toFixed(2) %></td>
                                            <td><%= order.status %></td>
                                            <td class="action-buttons">
                                                <img class="order-actions" src="/images/seeOrder.svg" onClick="">
                                                <img class="order-actions" src="/images/orderAgain.svg" onClick="">
                                                <img class="order-actions" src="/images/cancelOrder.svg" onClick="">
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/adminPage.js"></script>
        <!-- <script>
            // JavaScript to submit the form programmatically when the button is clicked
            document.getElementById('submitButton').addEventListener('click', function() {
                document.getElementById('updateForm').submit();  // Submit the form
            });
        </script> -->
    </body>
</html>