<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/public/styles/myAccount.css ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>  
        <!-- Topbar -->
        <div class="top-bar">
            <!-- Left elements -->
            <div class="left-section">
                <img src="/public/images/shooping_cart.svg" alt="Icon 1" class="icon">
                <img src="/public/images/logout.svg" alt="Icon 1" class="icon" onClick="window.location.href='/logout'">
            </div>
            <!-- Logo -->
            <div class="center-section">
                <img src="/public/images/logo.svg" class="logo"> 
            </div>
            <!-- Right elements -->
            <div class="right-section">
                <img src="/public/images/home_icon.svg" alt="Icon 1" class="icon" onclick="window.location.href='/products'">
                <% if (user.role === 'admin') { %> 
                    <img src="/public/images/adminIcon.svg" alt="Icon 1" class="icon" onclick="window.location.href='/personal/admin'">
                <% } %>
            </div>
        </div>
        <!-- Account Section -->
        <div class="account-section">
            <div class="account-header">
                <h2>Hello <%= user.name %><s/h2>
            </div>
            <div class="account-content">
                <div class="account-menu">
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/details'">Personal Details</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/favorite'">Favorits</button>
                    <button class="menu-option active" onclick="window.location.href='/personal/myAccount/orders'">My Orders</button>
                </div>
                <!-- Account Details -->
                <div class="content">
                    <div id="details" class="content-item"></div>
                    <div id="favorit" class="content-item" style="display:none;">This is the content for Option 2.</div>
                    <div id="orders" class="content-item active">
                        <div class=""container"></div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Date</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order => { %>
                                    <tr>
                                        <td><%= order.orderId %></td>
                                        <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                        <td>$<%= order.totalPrice.toFixed(2) %></td>
                                        <td><%= order.status %></td>
                                        <td class="action-buttons">
                                            <img class="order-actions see-order-btn" src="/public/images/seeOrder.svg" data-order-id="<%= order.orderId %>">
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        
                        <!-- Modal for order details -->
                        <div id="orderDetailsPopup">
                            <div class="modal-content" id="orderDetailsContent">
                                <span class="close-button" onclick="closeModel()">X</span>
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/public/js/myAccount.js"></script>
    </body>
</html>