<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/personal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <!-- Topbar -->
        <header>
            <nav class="main-navbar">
                <section class="navbar-left">
                    <img src="/public/images/shooping_cart.svg" class="navbar-icon" onclick="window.location.href='/cart'">
                    <img src="/public/images/logout.svg" class="navbar-icon" onclick="window.location.href='/logout'">
                </section>
                <section class="navbar-center">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'">
                </section>
                <section class="navbar-right">
                    <img src="/public/images/nearMe.svg" class="navbar-icon" onclick="window.location.href='/nearMe'">
                    <div class="side-menu">
                        <div class="sideMenu-sign" id="sideMenu-sign">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="sideMenu-content" id="sideMenu-content">
                            <div class="sideMenu-search">
                                <input type="text" placeholder="Search for candies...">
                            </div>
                            <ul class="sideMenu-categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
                            <div class="sideMenu-personal">
                                <% if (user.name) { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/myAccount">
                                            <img src="/public/images/user.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel"><%= user.name %></div>
                                        </a>
                                    </div>
                                <% } %> 
                                <% if (user.role === 'admin') { %> 
                                    <div class="sideMenu-iconContainer">
                                        <a href="/personal/admin">
                                            <img src="/public/images/adminIcon.svg" class="sideMenu-icon">
                                            <div class="sideMenu-iconLabel">Manage Shop</div>
                                        </a>
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
        </header>
        <!-- Account Section -->
        <section class="page-content">
            <header class="personal-header">
                <h2>Hello <%= user.name %></h2>
            </header>
            <div class="personal-content">
                <!-- Sub Menu -->
                <div class="sub-menu">
                    <button class="menu-option active" onclick="window.location.href='/personal/myAccount/details'">My Details</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/favorite'">My Favorites</button>
                    <button class="menu-option" onclick="window.location.href='/personal/myAccount/orders'">My Orders</button>                    
                </div>
                <!-- All Products -->
                <div class="main-content">
                    <div id="products" class="content-item active">
                        <div class="container">
                            <form action="/personal/myAccount/update" method="POST" id="updateForm">
                                <div class="form-row">
                                    <div class="form-column">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" name="name" value="<%= user.name %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" name="email" value="<%= user.email %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="birthdate">Birthday</label>
                                            <div class="birthday-container">
                                                <select id="day" name="birth_day" required class="small-input">
                                                    <% for (let i = 1; i <= 30; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && new Date(user.birthdate).getDate() === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                                <select id="month" name="birth_month" required class="small-input">
                                                    <% for (let i = 1; i <= 12; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && (new Date(user.birthdate).getMonth() + 1) === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                                <select id="year" name="birth_year" required>
                                                    <% for (let i = 1990; i <= 2024; i++) { %>
                                                        <option value="<%= i %>" <%= user.birthdate && new Date(user.birthdate).getFullYear() === i ? 'selected' : '' %>><%= i %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-column">
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="tel" id="phone" name="phone" value="<%= user.phone %>" pattern="[0-9]{3}-[0-9]{7}" maxlength="10" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address:</label>
                                            <div class="address-container">
                                                <input type="text" id="street" name="street" value="<%= user.address ? user.address.street : '' %>" required placeholder="Street">
                                                <input type="text" id="number" name="number" value="<%= user.address ? user.address.number : '' %>" required placeholder="Number" class="small-input">
                                                <input type="text" id="city" name="city" value="<%= user.address ? user.address.city : '' %>" required placeholder="City">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <div class="password-container">
                                                <input type="password" id="password" name="password" value="<%= user.password %>" required>
                                                <i class="fas fa-eye" id="togglePassword"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group full-width">
                                    <button id="submitButton" type="submit" class="btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/public/js/personal.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>