<!DOCTYPE html>
<html>
    <head>
        <title>Candy Shop - Products</title>
        <link rel="stylesheet" type="text/css" href="public/styles/products.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/public/styles/main.css">
    </head>
    <body>
        <!-- Topbar -->
        <header>
            <nav class="navbar">
                <!-- Left elements -->
                <div class="left-section">
                    <img src="/public/images/shooping_cart.svg" alt="Icon 1" class="icon-nav">
                    <img src="/public/images/logout.svg" alt="Icon 1" class="icon-nav" onclick="window.location.href='/logout'">
                </div>
        
                <!-- Logo -->
                <div class="center-section">
                    <img src="/public/images/logo.svg" class="logo" onclick="window.location.href='/products'"> 
                </div>
        
                <!-- Right elements (Hamburger menu and dropdown) -->
                <div class="right-section">
                    <img src="/public/images/nearMe.svg" class="icon nearMe" onclick="window.location.href='/nearMe'">
                    <div class="menu-container">
                        <!-- Hamburger menu icon -->
                        <div class="hamburger-menu" id="hamburger-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
        
                        <!-- Dropdown content -->
                        <div class="dropdown-content" id="dropdown-content">
                            <!-- Search bar -->
                            <div class="search-bar">
                                <input type="text" placeholder="Search for candies...">
                            </div>
        
                            <!-- Categories list -->
                            <ul class="categories">
                                <li>Chocolate</li>
                                <li>Gummy Bears</li>
                                <li>Licorice</li>
                                <li>Lollipops</li>
                                <li>Hard Candies</li>
                                <li>Sour Candies</li>
                                <li>Caramel</li>
                            </ul>
        
                            <!-- Personal area and admin area icons -->
                            <div class="menu-icons">
                                <div class="icon-container">
                                    <a href="/personal/myAccount">
                                        <img src="/public/images/user.svg" alt="Personal Area" class="icon">
                                        <div class="icon-label"><%= user.name %></div>
                                    </a>
                                </div>
                                <% if (user.role === 'admin') { %> 
                                <div class="icon-container">
                                    <a href="/personal/admin">
                                        <img src="/public/images/adminIcon.svg" alt="Admin Area" class="icon">
                                        <div class="icon-label">Manage Shop</div>
                                    </a>
                                </div>
                                <% } %> 
                            </div>                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Product Section -->
        <h1>Our Products</h1>
        <div class="products">
        <!-- List all products in DB -->
        <% if (products && products.length > 0) { %> 
            <% products.forEach((product) => { %>
                <div class="product">
                    <img class="img-class" src="<%= product.imageUrl %>" alt="<%= product.name %>" onerror="this.onerror=null; this.src='public/images/logo.svg';">
                    <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
                    <p>Price: <%= product.price %></p>
                    <button class="icon-button cart"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                    <button class="icon-button favorite" data-product-id="<%= product.productId %>"><i class="fas fa-heart"></i>Add to Favorites</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No products found!</p>
        <% } %>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <!-- Left Section -->
                <div class="footer-left">
                    <h4>About Us</h4>
                    <p>At Sweetly, we make finding your favorite sweets easy and enjoyable. We have the most special candies and a lot of stores, waiting for you there!</p>
                </div>
                <!-- Right Section -->
                <div class="footer-right">
                    <div class="talk-to-us">
                        <h4>Talk To Us</h4>
                        <a href="https://www.facebook.com/profile.php?id=61565705151661" class="facebook-icon" target="_blank">
                            <img src="/public/images/facebook_icon.svg" alt="Facebook" class="icon">
                        </a>
                    </div>
                    <p>Talk to us! Reach out to us at support@candyshop.com or follow us on social media for the latest updates and tips. Here to help!</p>
                </div>
            </div>
        </footer>
        <script src="/public/js/products.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>