<!DOCTYPE html>
<html len="en>">
    <head>
        <title>Sweetly</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/cards.css">
    </head>
    <body>
        <!-- Topbar -->
        <%- include('sideMenu.ejs') %>
        <!-- Product Section -->
        <section class="page-content">
            <h1 class="products-header">Our Products</h1>
            <div class="products-grid">
                <% products.forEach(function(product) { %>
                    <div class="product-card <%= product.inventory === 0 ? 'sold-out' : '' %>">
                        <!-- Image and Favorite button (3/6 of the card) -->
                        <div class="product-image-container">
                            <% if (product.inventory === 0) { %>
                                <span class="stock-banner">Sold Out</span>
                            <% } else if (product.inventory <= 5) { %>
                                <span class="stock-banner"><%= product.inventory %> left</span>
                            <% } %>
                                                                                 
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-image">
                            <button id="addFav" class="favorite-button" onclick="addToFavorites('<%= product.productId %>')">
                                <i class="fas fa-heart favorite" data-product-id="<%= product.productId %>"></i>
                            </button>
                        </div>
                        <!-- Name, Description, and Price (2/6 of the card) -->
                        <div class="product-info">
                                <div class="product-text">
                                    <input type="hidden" name="productId" id="productId" value="<%= product.productId %>">
                                    <h2><a href="/products/<%= product.productId %>"><%= product.name %></a></h2>
                                    <p class="product"><b><%= product.name %></b> - <%= product.description %></p>
                                    <p class="product-kosher"><u>Kosher:</u> <%= product.kosher %></p>
                                </div>
                                <div class="product-price">
                                    <% let price = product.price; %>
                                    <% if (currency === 'USD' && rates['USD']) { %>
                                    <%= (price * rates['USD']).toFixed(2) %> $
                                    <% } else if (currency === 'EUR' && rates['EUR']) { %>
                                    <%= (price * rates['EUR']).toFixed(2) %> €
                                    <% } else { %>
                                    <%= price %> ₪
                                    <% } %>
                                </div>
                        </div>    
                        <!-- Divider -->
                        <hr class="product-divider">
                    
                        <!-- Add to Cart and Quantity (1/6 of the card) -->
                        <div class="product-actions">
                            <div class="quantity-selector">
                                <button class="decrease" onclick="updateQuantity('<%= product.productId %>', -1, event)">-</button>
                                <input type="number" name="quantity" id="quantity-<%= product.productId %>" value="1" min="1" max="<%= product.inventory %>" class="quantity-input" readonly>
                                <button class="increase" onclick="updateQuantity('<%= product.productId %>', 1, event)">+</button>
                            </div>
                            <button class="add-to-cart" data-product-id="<%= product.productId %>" 
                                onclick="addToCart(this)">
                                Add 
                            </button>
                        </div>
                    </div>
                    <div id="favorite-alert" class="custom-alert hidden">Product added to favorite</div>
                    <div id="cart-alert" class="custom-alert hidden">Product added to cart</div>
                <% }) %>
            </div>  
        </section>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-left">
                <p>© Sweetly | Adi Brodesky | Gal Ternovsky | Shahar Shabtay | Ziv Klein </p>
            </div>
            <div class="footer-right">
                <div class="hover-container">
                    <a href="#" class="about-us" id="openAboutModal">About Us</a>
                    |
                    <a href="#" class="talk-to-us" id="openTalkModal">Talk To Us</a>
                    |
                    <a href="https://tinyurl.com/sweetly-facebook" target="_blank" class="facebook">Facebook</a>
                    |
                    <a href="#" class="statistics" id="openstatisticsModel">Statistics</a>
                </div>
                
                <!-- Modal for About Us -->
                <div id="aboutModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>About Us</h2>
                        <p>At Sweetly, we make finding your favorite sweets easy and enjoyable. We have the most special candies and a lot of stores waiting for you!</p>
                    </div>
                </div>
                
                <!-- Modal for Talk To Us -->
                <div id="talkModal" class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>Talk To Us</h2>
                        <p>You can reach us at support@candyshop.com or follow us on social media for the latest updates and tips!</p>
                    </div>
                </div>

                <!-- Modal for Statistics -->
                <div id="statisticsModel" class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h2>Candies Statistics</h2>
                        <canvas id="candiesChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/public/js/statistics.js"></script>
        <script src="/public/js/products.js"></script>
        <script src="/public/js/cart.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/personal.js"></script>
        <script src="/public/js/currency.js"></script>
    </body>
</html>